.homeContainer{
    /* display: flex; */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('../images/bkgImg.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
     background-position: center;

}

@media (max-width:480) {
    .homeContainer{
        width: 100%;
        display: flex;
        background-size: cover;
    }
}