/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

.carouselContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    /* width: 15%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-top: 90px;
}


.heading{
    background: -webkit-linear-gradient(45deg, #E65C00 0%, #F9D423 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-left: 500px; */

}

.Icons{
    color: #ffffff;
    margin: 30px;
    cursor: pointer;
    margin-left: 80px;
}
.middle{
    width: 70%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
}
.button{
    border: none;
    background-image: linear-gradient(to right, #F9D423 0%, #E65C00 100%);
    border-radius: 24px;
    padding: 10px 18px;
    font-family:'Montserrat Alternates';
    font-size: 20px;
    margin-top: 40px;
    color: #fff;
}


@media (min-width:320px) and (max-width:480px) {
    .left{
        display: none;
    }
    .Icons{
        display: none;
        margin-left: 0px;
    }
    .middle{
       width: 100%;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin-top: 150px;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .left{
        display: none;
    }
    .Icons{
        display: none;
        margin-left: 0px;
    }
    .middle{
       width: 100%;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin-top: 200px;
    }
    .heading{
     margin-top: 20px;
    }
    .para{
        margin-top: -100px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .left{
        display: none;
    }
    .Icons{
        display: none;
        margin-left: 0px;
    }
    .middle{
       width: 100%;
       align-items: center;
       justify-content: center;
       text-align: center;
       margin-top: 200px;
    }
    .heading{
     margin-top: 15px;
    }
}